* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(7, 7, 7, 0.65);
  transition: 0.5s ease-in;
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 80px;
  height: 40px;
  outline: none;
  cursor: pointer;

}

#toggle {
  width: 80px;
  height: 44px;
  background-color: #fff;
  border: 2px solid gray;
  position: relative;
  border-radius: 30px;
  transition: 0.5s ease-in;
}

#toggle::after {
  content: '';
  width: 36px;
  height: 36px;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background-color: gray;
  border-radius: 50%;
  transition: 0.5s ease-in;
}

#toggle:checked:after{
  left: 50%;
  background-color: green; 
}

#toggle:checked {
  border-color: green;
  background-color: rgb(10, 46, 10);
}

.tgl {
  background-color: #f4f3f2;
}